<!DOCTYPE html>
<html>
<head>
  <title>Business _dsbored</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style_business_ds.css">
</head>
<body>
  <header>
  <nav>
    <ul>
  <div class="navbar">
  <a href="#home">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Information
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Some people are connected</a>
      <a href="#">Show who advertises</a>
      <a href="#">Show who users are</a>
    </div>
  </div>
</div>
</ul>
</nav>
</header>
    <section id="showcase">
      <div class="container">
        <h1>some shit </h1>
        <p>some shit</p>
      </div>
    </section>

    <!--
    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Recommendations</h1>
      </div>
    </section>
    -->

    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="statistics.jpg">
          <h3>See Statistics</h3>
          <p></p>
        </div>
        <div class="box">
          <img src="tables.png">
          <h3>See Tables</h3>
          <p></p>
        </div>
        <div class="box">
          <img src="conect.jpg">
          <h3>Conect us</h3>
          <p></p>
        </div>

      </div>

    </section>
    <footer>
      <p><center>All rights reserved<img src="C:\Users\yaron daya\Desktop\website\website1\logo.png"> &copy;</center></p>
    </footer>
</body>
</html>
